body{
  font-family: 'Lato', sans-serif;
}

#templates {
	display: none;
}

.padded-heading{
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 3em;
  width: 100%;
}


.form-control, input{
	
	width: 30%;
	height: 34px;
}

.contact{
  height:100px;
}

.submit{
  margin-top:5px;
  color:black;
  
}

.new-request-form input, .new-request-form textarea{
  color:black;
  width:30%;
}


#map-canvas {
        width: 700px;
        height: 500px;      
        margin-right: auto;
        float: none;
        margin-bottom: 200px;
        margin-left: 40px;
        margin-top: 40px;
      }

.new-request-form{
	text-align: left;
	margin-left: 4em;	
  margin-right: 0;
  padding-right: 0;
  padding-left: 4em;
}

.pad-right{
  padding-right: 2em;
}


.float-right{
  float: right;
  position: relative;

}

@media (min-width: 1047px){  
  #right {
    position: absolute;
    top: 8em;
    bottom: 0;
    right: 5em;
    overflow: none;
    overflow-y: scroll;
    width: 17%;
  }

}

#right {
  height:500px;
  text-align: -webkit-auto;
}

.request-list li{
	list-style-type: none;
	border-bottom: 1px solid #D8DFE6;
	overflow: none;
  color:#D8DFE6;
}

.request-list h5{
    margin-top: 3px;
  margin-bottom: 3px;
}


.jared{
  width:770.6px;
  height: 515.2.6px;
  float:right;
  padding-right: 5em;
}

.navbar{
  background-color: black;
  color:#E3E8ED;

}
.find{
  margin-left: 5px;
}
.navbar-brand{
   color:blue;
}

/*//main nav link*/
.navbar-default .navbar-brand {
  color:#70ACDE;
  font-family: 'Mohave';
  font-size:400%;
}

/*nav links*/
.navbar-default .navbar-nav>li>a {
  color:#E3E8ED;
  font-size: 130%;
  border: 1px solid #E3E8ED;
  margin-left: 10px;
}





