#templates {
	display: none;
}

.padded-heading{
  margin-right: auto;
  margin-left: auto;
  padding: 3em;
  width: 100%;

}
.form-control, input{
	/*display: inline;*/
	width: 152px;
	height: 34px;
}

#map-canvas {
        width: 800px;
        height: 550px;      
        margin-right: auto;
        float: none;
        margin-bottom: 50px;
      }

.new-request-form{
	
	margin-left: 3em;
	
}

#datetimepicker1{
	width:152px;
}


@media (min-width: 768px){  
  #right {
    position: absolute;
    top: 15em;
    bottom: 0;
    right: 5em;
    overflow-y: scroll;
    width: 17%;
  }
}

#right {
  height:100%;
  text-align: -webkit-auto;
}

ol li{
	list-style-type: none;
	border-bottom: 1px solid black;
	overflow: hidden;
}






